.chapter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-chapter {
    width: 100%;

    .ant-list-item-meta-content {
      text-align: center !important;
      overflow: hidden;
    }
  }
  @media only screen and (max-width: 415px) {
    .list-chapter {
      width: 360px;
      .ant-list-item-meta-title {
        font-size: 14px !important;
      }
    }
  }
  @media only screen and (max-width: 395px) {
    .list-chapter {
      width: 340px;
    }
  }
  @media only screen and (max-width: 375px) {
    .list-chapter {
      width: 310px;
    }
  }

  @media only screen and (max-width: 320px) {
    .list-chapter {
      width: 290px;
    }
  }
}
